<div class="card">
  <div class="card-header">
    <h2 class="card-title"><i class="fas fa-sliders-h"></i> Account Settings</h2>
  </div>
  <div class="card-body">
    <ul class="settings-list">
      <li>
        <div class="setting-info">
          <div class="setting-title">Email Notifications</div>
          <div class="setting-description">Receive updates and promotions via email</div>
        </div>
        <label class="toggle-switch">
          <input type="checkbox" checked>
          <span class="toggle-slider"></span>
        </label>
      </li>
      <li>
        <div class="setting-info">
          <div class="setting-title">SMS Notifications</div>
          <div class="setting-description">Receive updates and promotions via SMS</div>
        </div>
        <label class="toggle-switch">
          <input type="checkbox">
          <span class="toggle-slider"></span>
        </label>
      </li>
      <li>
        <div class="setting-info">
          <div class="setting-title">Two-Factor Authentication</div>
          <div class="setting-description">Enhance your account security</div>
        </div>
        <label class="toggle-switch">
          <input type="checkbox" checked>
          <span class="toggle-slider"></span>
        </label>
      </li>
      <li>
        <div class="setting-info">
          <div class="setting-title">Auto Login</div>
          <div class="setting-description">Stay logged in on this device</div>
        </div>
        <label class="toggle-switch">
          <input type="checkbox">
          <span class="toggle-slider"></span>
        </label>
      </li>
    </ul>
  </div>
</div>
